<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GSPcLocalViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GSPcLocalViewer.Properties.Settings>
            <setting name="appHighlightForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="appHighlightBackColor" serializeAs="String">
                <value>MediumBlue</value>
            </setting>
            <setting name="appFont" serializeAs="String">
                <value>Tahoma, 8.25pt</value>
            </setting>
            <setting name="frmOpenBookLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmOpenBookSize" serializeAs="String">
                <value>750, 500</value>
            </setting>
            <setting name="frmOpenBookState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="frmConfigLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmConfigSize" serializeAs="String">
                <value>580, 400</value>
            </setting>
            <setting name="frmConfigState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="appGlobalMemoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="appHistorySize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="appMemoRecovery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="appRecoveryMemoPath" serializeAs="String">
                <value />
            </setting>
        </GSPcLocalViewer.Properties.Settings>
    </userSettings>
</configuration>